################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ALightDesktopSearch/ALightDesktopSearch.Console/bin
/ALightDesktopSearch/ALightDesktopSearch.Console/obj
/ALightDesktopSearch/ALightDesktopSearch.Console.Helper/bin
/ALightDesktopSearch/ALightDesktopSearch.Console.Helper/obj
/ALightDesktopSearch/ALightDesktopSearch.Console.Helper.Tests/bin
/ALightDesktopSearch/ALightDesktopSearch.Console.Helper.Tests/obj
/ALightDesktopSearch/ALightDesktopSearch.UI/bin
/ALightDesktopSearch/ALightDesktopSearch.UI/obj
/ALightDesktopSearch/ALightDesktopSearch.Console.Helpers/bin
/ALightDesktopSearch/ALightDesktopSearch.Console.Helpers/obj
/ALightDesktopSearch/ALightDesktopSearch.Console.Helpers.Tests/bin
/ALightDesktopSearch/ALightDesktopSearch.Console.Helpers.Tests/obj
/ALightDesktopSearch/ALightDesktopSearch.Core/bin
/ALightDesktopSearch/ALightDesktopSearch.Core/obj
/ALightDesktopSearch/ALightDesktopSearch.Core.Tests/bin
/ALightDesktopSearch/ALightDesktopSearch.Core.Tests/obj
/ALightDesktopSearch/ALightDesktopSearch.Entities/bin
/ALightDesktopSearch/ALightDesktopSearch.Entities/obj
/ALightDesktopSearch/ALightDesktopSearch.Services/bin
/ALightDesktopSearch/ALightDesktopSearch.Services/obj
/ALightDesktopSearch/ALightDesktopSearch.Services.Tests/bin
/ALightDesktopSearch/ALightDesktopSearch.Services.Tests/obj
/ALightDesktopSearch/ALightDesktopSearch.Util/bin
/ALightDesktopSearch/ALightDesktopSearch.Util/obj
/ALightDesktopSearch/ALightDesktopSearch.Util.Tests/bin
/ALightDesktopSearch/ALightDesktopSearch.Util.Tests/obj
